<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">$tonecold31</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/photo_app</property>
        <property name="hibernate.connection.username">visu</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        
        <property name="hibernate.id.new_generator_mappings">true</property>
        <property name="show_sql">true</property>
        
        <!-- hibernate internal pool only for testing -->
        <property name="connection.pool_size">10</property>
        
        <!-- Hibernate buffer pool for production -->
        
        <!-- property name="hibernate.c3p0.min_size">3</property>
        <property name="hibernate.c3p0.max_size">50</property> 
        <property name="hibernate.c3p0.timeout">300</property> 
        <property name="hibernate.c3p0.max_statements">50</property>  -->
        
        <!-- to create and update the database -->       
        <property name="hibernate.hbm2ddl.auto">update</property>
        
         <!-- this will tell where the database value will be put -->
        <mapping class="com.vis.app.ws.io.entity.UserEntity"></mapping>
    </session-factory>
</hibernate-configuration>
